*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.author-header {
    background: linear-gradient(45deg, rgb(228, 228, 127), rgb(224, 172, 73));
    height: 200px;
    width: 100vw;
}
.user-box {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    margin-top: 50px;
}
.user-name {
    text-align: left;
    margin-top: 100px;
    font-size: 22px;
}
.artist-name {
    margin-top: 25px;
    font-size: 50px;
}
.content {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-top: 50px;
}
.picture {
    width: 50%;
    height: 400px;
}

.info-cont {
    width: 50%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: stretch;
}
.paint-name {
    font-size: 40px;
    font-family: ui-sans-serif;
}
.info-hr {
    width: 100%;
}
.info-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: stretch;
}
.price {
    font-size: 20px;
}
.buy-now {
    background-color: #48ae65;
    color: white;
    border: 1px solid white;
    padding: 15px;
    font-size: 20px;
}
.otherworks {
    display: grid;
    grid-auto-rows: 80px 1fr;
    align-content: center;
    align-items: center;
    justify-items: stretch;
}
.other-work-text {
    font-size: 30px;
    margin-left: 50px;
}
.works-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}