.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)),
    url("https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-position: center;
}

form {
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  color: rgb(18, 17, 18);
  text-align: center;
  margin-bottom: 10px;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rgb(18, 17, 18);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.sign-up-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  font-size: 12px;
  color: gray;
}

.sign-up:hover {
  text-decoration: underline;
  color: rgb(18, 17, 18);
}
