/* header {
    width: 100vw;
    font-family: sans-serif;
    display: flex;
    font-size: 24px;
    padding: 10px 30px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    height: 100px;
}
.header-links {
    margin-right: 630px;
    display: flex;
}
.header-a, .header-signup{
    padding: 0 30px 0px 0px;
    font-size: 19px;
    margin-top: 30px;
}
.header-login , .header-register{
    border: 1px solid #767676;
    border-radius: 5%;
    padding: 16px 13px;
}

.header-login , .header-register:hover {
    border: 1px solid black;
    color: black;
} */


/* .button {
    font-family: 'dm serif text',serif;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border-radius: 0;
    min-height: 48px;
    padding: 13px 20px;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
} */