header {
    font-family: sans-serif;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 94px;
    width: 100vw;
}
.header-links {
    margin-top: 13px;
    display: flex;
}
.header-a{
    padding: 0 38px 0px 0px;
}
.header-a, .header-signup{
    font-size: 19px;
    margin-top: 17px;
} 
 .header-register{
    border: 1px solid #767676;
    border-radius: 3px;
    padding: 16px 13px;
    height: 52px;
}

.header-register:hover {
    border: 1px solid black;
    color: black;
} 
.header-signup {
    display: flex;
}
span {
    color: black;
    font-size: large;
}


/* .button {
    font-family: 'dm serif text',serif;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border-radius: 0;
    min-height: 48px;
    padding: 13px 20px;
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    line-height: 22px;
    border: 1px solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
} */