.footer-fisrt-box {
    padding: 0 3%;
}
.footer-nav {
    display: flex;
    justify-content: space-evenly;
}
footer {
    font-size: 18px;
    align-items: center;
    cursor: pointer;
    text-align: center;
    width: 100vw;
}
.footer-link {
    font-weight: 600;
    padding-top: 33px;
}
.footer-border {
    border-bottom: 1px solid black;
    width: 95vw;
}
