@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* body {
  /* margin: auto;
  padding: 0px;
  overflow-x: hidden;
  background-repeat: repeat;
  font-family: 'Inter', san-serif;
}
.container_mr-60cd {
  font-family: 'Inter', san-serif; */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.previewimg {
  max-width: 100%;
  height: auto;
}
/* img {
  /* max-width: 100%;
  height: auto; */

img.previewimg {
  margin: 27px auto;
  display: block;
  max-width: 377px;
}
.text-upload {
  color: black;
  text-align: center;
  font-size: 33px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 37px;
  font-weight: 600;
  
}
.text-select {
  text-align: center;
  font-size: 33px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 37px;
  font-weight: 600;
}
/* h2 span {
  color: #07a8ff;
} */
.imageUploadSuccess {
  text-align: center;
  font-size: 27px;
  font-family: 'Inter', sans-serif;
  margin-bottom: 37px;
  font-weight: 600;
  margin-top: 0;
  color: #1ec21e;
}
.formdesign {
  max-width: 650px;
  max-height: 550px;
  margin: 0 auto;
  border: 3px solid #07a8ff;
  border-radius: 15px;
  padding: 97px 67px 97px 67px;
  background-color: #e7f7ff;
  box-shadow: 11px -4px 18px 0px #cae7f4;
  margin-bottom: 100px; 
}
.formdesign label {
  text-align: center;
  font-size: 23px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.formdesign input {
  font-size: 20px;
  border: 1px solid #07a8ff;
  background-color: white;
  height: 27px;
  margin-left: 17px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 15px;
}
.form-select {
  margin-top: 20px;
  width: 430px;
}
.btn.btn-dark {
  font-size: 27px;
  background-color: #1a1817;
  color: white;
  padding: 7px 27px 7px 27px;
  font-family: 'Inter', sans-serif;
  margin: 37px auto 0;
  display: table;
  border-bottom: 3px solid #4d4c4b;
  border-radius: 7px;
  border-top: 0;
  border-left: 0; 
  border-right: 0;
}
.mr-60 {
  margin-top: 60px;
}

.FormDataUserr {
  margin-left: 500px;
}

