* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  background: #fff;
  line-height: 22px;
  font-weight: 400;
  max-height: 100vh;
  max-width: 100vw;
  color: #000;
  font-size: 24px;
}

@media (max-width: 1023px) {
  html, body {
    font-size: 16px;
  }
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}