.img {
    height: 600px;
    width: 1700px;
    background: linear-gradient(rgb(13 4 11 / 46%), rgb(34 25 25 / 45%)),
    url(https://www.agenziagl.com/wp-content/uploads/revslider/news-gallery2/slide_venezia-1.jpg), center / cover;
}
.img-txt {
    padding-top: 200px;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    line-height: 22px;
    font-weight: 400;
    font-size: 24px;
}
.img-h1, .mini-txt {
    color: white;
}
.img-h1 {
    margin-right: 458px;
}
a {
    text-decoration: none;
    color: black;   
    cursor: pointer;
}
strong {
    color: #767676;
}
.mini-txt {
    margin-left: 500px;
    font-size: 18px;
}
.icon {
    height: 15px;
    width: 30px;
}
.img-form {
    margin-left: 500px;
}
input{
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: white;
    padding: 10px 10px;
    width: 800px;
}


.category-h1 {
    margin-right: 1100px;
}
.homepage2 {
    margin-left: 100px;
}
.homepage-category {
    display: flex;
}
.homepage-a {
    margin: 5px;
    font-size: 16px;
    line-height: 1;
    padding: 18px 24px ;
    border: 1px solid #767676;
    border-radius: 5%;
    color: #767676;
}
.homepage-a:hover {
    color: black;
    border-color: black;
}


.list {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.img-1 {
    height: 440px;
}
.hr {
    width: 1350px;
}

.list, .gc-h1 {
    margin: 0px 100px 0px 0px;
}
.hr {
    margin: 0px 100px 0px 70px;
}
.img-2 {
    width: 330px;  
}
.img-3 {
    height: 400px;
    width: 680px;  
}
.img-4 {
    width: 448px;  
}

.submit-conteiner {
    display: flex;
    margin: 0px 130px 0px 70px;

}
.sc-txt {
    line-height: 1;
    padding: 180px 0px 0px 0;
}
h2 {
    font-size: 32px;
}
h2, .sc-desc {
    text-align: center;
    padding-right: 60px;
}
p {
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.sc-img {
    height: 488px;
    width: 920px;
    background: url("https://ik.imagekit.io/theartling/prod/dynamic_images/Image/17d6461ec2604ec4bb9f871964e54643.jpeg?tr=,w-920"), center / cover;
}
.list-txt {
    text-align: center;
    padding: 20px;
}
.img-5 {
    height: 260px;
}
