body{
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    line-height: 22px;
    font-weight: 400;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: black;   
    cursor: pointer;
}
strong {
    color: #767676;
}
p {
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.input{
    font-size: 16px;
    width: 700px;
    height: 50px;
}
.input, .button {
    border: none;
    border-radius: 4px;
    background-color: white;
}
.button {
    width: 40px;
    height: 50px;
    margin-right: -5px;
}
.svg {
    padding-right: 4px;
    width: 24px;
}
.img-form{
    display: flex;
}

.img-form, .mini-txt {
    padding-left: 32%;
}
.homepage1 {
    height: 600px;
    width: 100vw;
    background: linear-gradient(rgb(13 4 11 / 46%), rgb(34 25 25 / 45%)),
    url(https://www.agenziagl.com/wp-content/uploads/revslider/news-gallery2/slide_venezia-1.jpg), center / cover;
}
.img-txt {
    padding-top: 200px;
}
.img-h1, .mini-txt {
    color: white;
}
.mini-txt {
    font-size: 18px;
}
.img-h1 {
    padding: 0% 22% 1% 0;

}


.list-card {
    padding: 3% 0;
}
.list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1% 0;
} 
.list-h1 {
    padding: 20px 0;
}


.homepage2 {
    padding: 5%;
}
.img-0 {
    height: 540px;
    width: 500px;
}
.img-1 {
    height: 540px;
    width: 1027px;
}
.img-2 {
    width: 360px;  
}

.img-3 {
    width: 280px;  
}
.img-4 {
    height: 400px;
    width: 730px;  
}
.img-5 {
    width: 476px;  
}

.submit-conteiner {
    display: flex;
    padding-top: 93px;
}
.sc-txt {
    line-height: 1;
    padding: 180px 37px 0px 0px;
}
h2 {
    font-size: 32px;
}
h2, .sc-desc {
    text-align: center;
}
.sc-img {
    height: 488px;
    width: 920px;
    background: url("https://ik.imagekit.io/theartling/prod/dynamic_images/Image/17d6461ec2604ec4bb9f871964e54643.jpeg?tr=,w-920"), center / cover;
}

