body{
    font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    line-height: 22px;
    font-weight: 400;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: black;   
    cursor: pointer;
}
strong {
    color: #767676;
}
input{
    font-size: 16px;
    border-radius: 4px;
    background-color: white;
    padding: 10px 10px;
    width: 75%;
}
p {
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.homepage1 {
    height: 600px;
    width: 100vw;
    background: linear-gradient(rgb(13 4 11 / 46%), rgb(34 25 25 / 45%)),
    url(https://www.agenziagl.com/wp-content/uploads/revslider/news-gallery2/slide_venezia-1.jpg), center / cover;
}
.img-txt {
    padding-top: 200px;
}
.img-h1, .mini-txt {
    color: white;
}
.mini-txt {
    font-size: 18px;
}
.img-h1 {
    padding: 0% 22% 1% 0;

}
.img-form, .mini-txt {
    padding-left: 32%;
}



.homepage2 {
    padding: 5%;
}

.img-1 {
    height: 440px;
}
.img-2 {
    width: 330px;  
}
.img-3 {
    height: 400px;
    width: 680px;  
}
.img-4 {
    width: 448px;  
}

.submit-conteiner {
    display: flex;
}
.sc-txt {
    line-height: 1;
}
h2 {
    font-size: 32px;
}
h2, .sc-desc {
    text-align: center;
}
.sc-img {
    height: 488px;
    width: 920px;
    background: url("https://ik.imagekit.io/theartling/prod/dynamic_images/Image/17d6461ec2604ec4bb9f871964e54643.jpeg?tr=,w-920"), center / cover;
}
.img-5 {
    height: 260px;
}
